/* Mobile view */
.landlord-services{
	&-content{
		&-title{
			.text-left;
			margin-bottom: 0;
			padding-bottom: 10px;
		}

		&-subtitle{
			color: @gray-light;
			font-size: @font-size-huge;
			font-weight: 200;
		}

		&-undertitle{
			color: @brand-success;
			font-size: @font-size-h3;
			font-weight: 100;
		}

		article{
			margin-top: @grid-gutter-width;

			&:first-child{
				margin-top: 0;
			}
		}

		p{
			font-size: @font-size-large;
		}

		ul{
			.list-unstyled;

			li{
				font-size: @font-size-large;

				&:before{
					content: '▪ ';
				}

				span{
					color: @brand-secondary;
				}
			}
		}
	}
}


/* Normal tablet view */
@media only screen and (min-width: @screen-sm) {}

/* Normal desktop view */
@media only screen and (min-width: @screen-md) {}

/* Large desktop view */
@media only screen and (min-width: @screen-lg) {}
